<!DOCTYPE html>
<html lang="ru">
<head>
  <title>{% block title %}Без названия{% endblock %}</title>
  <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
  <script src="/js/main.js"></script>
</head>
<body style="padding-bottom: 3rem">
  <nav class="navbar navbar-full navbar-dark bg-inverse" style="margin-bottom: 1rem">
    <div class="container">
      <a class="navbar-brand" href="/">Тестовое задание</a>
      <ul class="nav navbar-nav pull-xs-right">
      {% if user %}
        <li class="nav-item">
          <span class="nav-link active">Привет, {{ user.username }}</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin">Сообщения</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/logout">Выход</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/admin/login">Вход</a>
        </li>
      {% endif %}  
      </ul>        
    </div>
  </nav>    
  <div class="container">
  {% block content %}{% endblock %}    
  </div>
</body>
</html>