{% macro errors(arr) %}
{% if arr %}
<div class="alert alert-danger">
  <ul style="margin-bottom: 0">
    {% for error in arr %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endmacro %}