{% extends 'layout.html' %}

{% block title %}Сообщение отправлено{% endblock %}

{% block content %}
<div class="alert alert-success" role="alert">
  <strong>Готово!</strong> Ваше сообщение было успешно отправлено.<br>
  Вы можете вернуться на <a href="/">главную страницу</a> и отправить еще одно.
</div>
{% endblock %}