{% extends 'layout.html' %}
{% import 'macros.html' as macro %}

{% block title %}Новое сообщение{% endblock %}

{% block content %}

<h1 style="margin: 0.5em 0 1em">Новое сообщение</h1>

{{ macro.errors(errors) }}

<form method="post" enctype="multipart/form-data" class="js-message-form">
  <div class="form-group row">
    <label class="col-sm-2 form-control-label" for="title">Заголовок</label>
    <div class="col-sm-10">
      <input type="text" name="title" class="form-control js-title-control" id="title" placeholder="Введите заголовок..." value="{{ message.title }}">
    </div>    
  </div>
  <div class="form-group row">
    <label class="col-sm-2 form-control-label" for="message">Сообщение</label>
    <div class="col-sm-10">
      <textarea name="message" class="form-control js-message-control" id="message" placeholder="Введите ваше сообщение...">{{ message.message }}</textarea>
    </div>    
  </div>
  <div class="form-group row">
    <label class="col-sm-2 form-control-label">Изображение</label>
    <div class="col-sm-10">
      <input type="file" name="image" class="js-image-control">
    </div>    
  </div>
  <div class="form-group row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary js-submit-control">Отправить</button>
    </div>    
  </div>
</form>
{% endblock %}