{% extends 'layout.html' %}

{% block title %}Лента сообщений{% endblock %}

{% block content %}

<script>
$(function () {
  $('.js-feed').feed({
    template: $('#message').html()
  });

  var socket = io();

  socket.on('new message', function(msg){
    if ($('#realtime').is(':checked')) {
      $('.js-feed').feed('push', msg);
    }    
  });

});
</script>

<label><input type="checkbox" id="realtime" checked="checked"> обновлять в реальном времени</label>
<div class="js-feed">
  <div class="js-feed-container" style="padding: 1rem 0">
    <div class="alert alert-info">Подождите, идет загрузка...</div>
  </div>
  <button class="js-nav-btn btn btn-primary btn-block">Показать предыдущие</button>       
</div>

<template id="message">
  <div style="margin-bottom: 1rem" class="card" data-timestamp="<%= created %>">
    <div class="card-header"><strong><%= title || '...' %></strong></div>
    <div class="card-block">
      <% if (image_small) { %>
      <a href="<%= image_medium %>" target="_blank">
        <img src="<%= image_small %>" data-src="" class="img-fluid img-thumbnail" style="max-width: 100px; max-height: 100px; float:left; margin-right: 1rem; margin-bottom: 1rem">
      </a>      
      <% } %>
      <p><%= message || '...' %></p>
      <p class="card-text" style="clear:both"><small class="text-muted">Отправлено: <%= created_human %></small></p>
    </div>
  </div>    
</template>
{% endblock %}