{% extends 'layout.html' %}
{% import 'macros.html' as macro %}

{% block title %}Вход{% endblock %}

{% block content %}
{{ macro.errors(errors) }}
<form method="post" style="width: 300px; margin: 0 auto;">
  <h2 style="margin-bottom: 1rem">Авторизация</h2>
  <input type="text" name="username" class="form-control" placeholder="Логин" required="" autofocus="" style="margin-bottom: 1rem">
  <input type="password" name="password" class="form-control" placeholder="Пароль" required="" style="margin-bottom: 1rem">
  <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
</form>
{% endblock %}