{% extends 'layout.html' %}

{% block title %}Выход{% endblock %}

{% block content %}
<form method="post" style="width: 300px; margin: 0 auto">
  <h2 style="margin-bottom: 1rem">Выход</h2>
  <p>Вы уверены что хотите выйти?</p>
  <button type="submit" class="btn btn-primary">Да</button>
  <a href="/admin" class="btn btn-link">Нет</a>
</form>
{% endblock %}